<div class="posts-audio audio row ">
    {% for post in site.posts reversed %}
    <div class="post post-a card w-100 {% if post.enable %}active{% endif %}">
        <a href="{{ post.url | prepend: site.baseurl | append:'.html' }}" class="title {% if post.enable != true %}disable{% endif %}">
        <figure class="card-body row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">     
            <img
            {% if post.enable %}    
                src="assets/docs/img/green.jpg" 
            {% else %}
                src="assets/docs/img/red.jpg"
            {% endif %}
            class="card-img-top col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
            style="align-self:baseline; height: auto;"
            alt="{{ post.audio.trackID }}"
            />
            <div class="card-block col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <figcaption>    
                        <h2>{{ post.title }} — {{ post.subtitle }}</h2>
                </figcaption>
                <span>
                    {% if post.enable %}    
                        Posted on 
                    {% else %}
                        Release on 
                    {% endif %}
                    <time datetime="{{ post.release | date: '%Y-%m-%d' }}">{{ post.release | date: '%d.%m.%Y' }}</time>
                </span> 
                {% if post.enable %}    
                <div class="audio-wave" id="{{ post.audio.trackID }}" data-src="assets/docs/audio/{{ post.audio.trackFile }}"></div>
                {% endif %} 
                
                <p>{{post.content}}</p>
            </div> 
        </figure>
        </a>
    </div>
    {% endfor %}
</div> 
