<div class="posts-video video row">
    {% for post in site.posts reversed %}
    
    <div class="post col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 {% if post.enable %}active{% endif %}" data-video="{{post.video.videoID}}">
            <a class="img-link {% if post.enable != true %}disable{% endif %}" href="{{ post.url | prepend: site.baseurl | append:'.html' }}">
            {% if post.video.videoImg ==  %}
            <img src="assets/docs/img/video_placeholder.jpg" class="img-fluid" alt="post img">
            {% else %}
            <img src="assets/docs/img/{{ post.video.videoImg }}" class="img-fluid" alt="post img">
            {% endif %}
        </a>
        <div class="post-bottom">
            <span class="bullet"></span>
            <div>
                <a class="title {% if post.enable != true %}disable{% endif %}" href="{{ post.url | prepend: site.baseurl | append:'.html' }}">
                
                    <h2>{{ post.title }}</h2>
                </a>
                <span>
                    {% if post.enable %}    
                        Posted on 
                    {% else %}
                        Release on 
                    {% endif %}
                    <time datetime="{{ post.release | date: '%Y-%m-%d' }}">{{ post.release | date: '%d.%m.%Y' }}</time>
                </span> 
                <br/>
                <span class="visits">
                    {% if post.enable %}
                    <img src="assets/docs/img/user-icon.png" class="icon" /><span>--</span>
                    {% endif %}
                </span>
            </div>
        </div>
        
        
    </div>
{% endfor %}
</div>