<div class="posts-text text row">
    {% for post in site.posts %}
    <div class="post col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 {% if post.enable %}active{% endif %}">
        
        <a href="{{ post.url | prepend: site.baseurl | append:'.html' }}" class="title">
            <span class="bullet"></span>  
            <h3>{{ post.title }}</h3>
        </a>
        <span>Posted on <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date_to_long_string }}</time></span>
    </div>
{% endfor %}
</div>