
@import "vars";
@import "bootstrap/bootstrap";
@import "style";

#player{min-height: 212.5px;}

@include media-breakpoint-up(sm) { 
    #player{min-height: 382.5px;}
}
@include media-breakpoint-up(md) { 
    #player{min-height: 340px;}
}
@include media-breakpoint-up(lg) { 
    #player{min-height: 440px;}
}
@include media-breakpoint-up(xl) {  
    #player{min-height: 531.25px;}
}
