
$colors: (
    primary:#ff0000,
    secondary:#00ff00
);

html{
    font-size: 16px;
}

body{
    overflow-x: hidden;
    font-size: 2rem;
    
    //direction: rtl;
    font-family: 'Arial', Arial, Helvetica, sans-serif !important;
    .about-link{
        
        height: 2.4rem;
        width: 2.4rem;
        display: flex;
        
        justify-content: center;
        h2{
            line-height: 1.7rem;
        }
    }
    .about{
        .about-link{
            border: #000 solid 2px;
            border-radius: 50%;
            margin: -.4rem .4rem 0 0;
            
        }
    }
    
}

body.video{
    .navbar-nav:not(.about){
        a.nav-link[data-mode="video"]{
            border-bottom: #000 solid 2px;
        }
    }
    .posts , .post-content{
        .video{
            display: flex;
        }
        .audio{
            display: none;
        }
        .text{
            display: none;
        }
        
    }
}
body.audio{
    .navbar-nav:not(.about){
        a.nav-link[data-mode="audio"]{
            border-bottom: #000 solid 2px;
        }
    }
    .posts, .post-content{
        .video{
            display: none;
        }
        .audio{
            display: flex;
        }
        .text{
            display: none;
        }
        
    }
}
body.text{
    .navbar-nav:not(.about){
        a.nav-link[data-mode="text"]{
            border-bottom: #000 solid 2px;
        }
    }
    .posts , .post-content{
        .video{
            display: none;
        }
        .audio{
            display: none;
        }
        .text{
            display: flex;
        }
        
    }
}

h1{
    font-size: 3rem;
    margin-bottom: 0;
}


h2{
    font-size: 2rem;
    margin-bottom: 0;
}

.post-bottom, .card-block{
    span{
        font-size: 1.6rem;
    }
}
.text-content{
    span.date{
        font-size: 1.6rem;
        padding-left:calc(12px + 2rem);
    }
}

span.date{
    font-size: 1.6rem;
    padding-left:calc(6px + 1.6rem);
}

p{
    margin-bottom: 0;
}
a{
    color:black;
}
a:hover{
    color:#002244;
    text-decoration: none;
}

a.disable {
    pointer-events: none;
    cursor: default;
    //opacity: .64;
}

blockquote {
    margin-left: 6rem;
}

/*  --  Navbar  --  */
.navbar-custom{
    height:  7.5vh;
    margin-bottom: 7.5vh;
    @media (max-width: 1023px) { align-items: unset; height: 7.5rem;}
    .bg-custom{
        background-color: white;
    }
    .brand{
        margin-left:1rem;
    }
    .navbar-brand{
        padding-left:0; 
    }   
    .navbar-menu{
        display: flex;
        


        @media (max-width: 1023px) { position:absolute; top:0; left:0; margin:3rem 0; padding: 0; }
    }
    .navbar-nav{
        flex-direction: row;
        @media (max-width: 1023px) { justify-content: space-between; padding:2rem;width:100%; }
        li{
            h2{
             cursor: pointer;
                a{
                    height: 3rem;
                }
            }
        }
        .nav-link{
            margin-right: 0.5rem; 
            margin-left: 0.5rem; 

            padding-right: 0rem; 
            padding-left: 0rem; 
        }
    }
}




.row{
    padding: 0rem 1rem;
}

footer{
    justify-content: space-between;
}

.audio-notes , .video-notes, .text-notes{
    ul{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    
    li{
        display: none;
        //flex-direction: column;
        time{
            display: none;
        }
    }
    
    li.visible{
        display: flex;
        //flex-direction: column;
    }

}

img.icon{
    height: 1.2rem;
    width: auto;
    margin-right:.4rem;
}

span.bullet{
    height: 1rem;
    width: 1rem;
    min-width: 1rem;

    margin: .8rem 1rem .8rem 0;
    //padding: 1rem;
    border-radius: 100%;
    background: map-get($colors, primary);
    display: block;
}
.post.active, .post-content{
    span.bullet{
        background: map-get($colors, secondary);
    }

}

.post, .post-content{
    .title{
        flex-direction: row;
        display: flex;
        align-items: center;
        @media (max-width: 1023px){align-items: unset;}

    }
    .visits{
        display: flex;
        align-items: center;
        margin-right: -10px;

    }
    .views{
        padding:0;
        @media (max-width: 1023px){padding: 0 calc(15px + 1.6rem);}
        .visits{
            justify-content: flex-end;
            @media (max-width: 1023px){justify-content: flex-start;}
        }
    }
    .post-bottom{
        padding: 5% 0;
        margin-bottom: 2.5%;
        display: flex;
        
    }

}

.posts{
    .post{
        margin: 2rem 0rem;
    }
    .posts-text{
        .post{
            margin: 0 0 1rem 1rem;
        }
        .post-separator{
            display: block;
            //height: 4rem;
            height: 0;
            width: 100%;
        }
        .post.active{
           // margin: 1rem 0 4rem 0;
        }
        
        
    }
}

p.text-holder{
    margin-top: 1rem;
}

span.audio-date {
    margin-left: 7rem;
}

span.text-note{
    //background-color:rgba(map-get($colors, primary),.16);
    .note-switch{
        color: blue;
        position: relative;
        bottom: 1px;
        font-size: .8em;
        line-height: .8em;
        vertical-align:super;
        text-decoration:none;
        cursor: pointer;
    }
}

.notes{

    overflow-y: scroll;
    //height: 25vh;
    direction: rtl;

    .note-list{
        //min-height: 100%;
        flex-direction: column;
        //justify-content: flex-end;
    }
    
    li{
        font-size: 1.5rem;
        //display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin: 0 1rem 1rem 1rem;
        .note-num{
            font-size: 1rem;
            margin-right: .5rem;
        }
        .note-content{
            direction: ltr;
            width: 100%;
            word-break: break-word;
            .note-link{
                color: blue;
                text-decoration: underline;
            }
        }
    }
    
    
}

.video-notes{
    margin: .5rem;
    height: 25vh;
}

.video-infos{
    margin-top: 1rem;
}

.audio-notes{
    margin: 2rem 0rem 0;
    height: 50vh;
}
.card{
    border: none;
}
.audio-play .material-icons{
    font-size: 4rem;
    margin: .5rem;
    cursor: pointer;
}

.audio figcaption{
    display: flex;
}
section.text .text-column, section.text .text-notes{
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    ul{
        margin-left: 0;
        padding-left: 0;
    } 
}

.about-content{
    height: 85vh;
    overflow-y: scroll;
    direction: rtl;
    margin:0 1rem; 
    padding-right: 2rem;
    p{
        direction: ltr;
    }
    a{
        color: blue;
        text-decoration: underline;
    }
    img{
        max-width: 10rem;
        margin:1rem 2rem 1rem 0;
    }
}

.posts{
    height: 85vh;
    overflow-y: scroll;
    overflow-x:hidden; 
    direction: rtl;
    margin:0 1rem; 
    
    div{
        margin-top: 0;
        padding-top: 0;
        direction: ltr;
        .post{
            margin-top: 0;
        }
    }
}

.audio-wave{
    background-image: linear-gradient(90deg,rgba(255,0,0,.16), rgba(255,0,0,.24));
    background-size: 0% 100%;
    background-position-x: 0%;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: background-size ease-in-out .3s;
    
}

body *::-webkit-scrollbar-track
{
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
    border-left: solid 2px #ff0000;
}

section.text .text-column::-webkit-scrollbar-track
{
    border-left: none;
}

body *::-webkit-scrollbar
{
	width: 10px;
	
}


body *::-webkit-scrollbar-thumb
{
	background-color: #ff0000;

}

footer.footer{
    display: none;
}
