body {
  overflow-x: hidden;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 1024px) {
    body {
      font-size: 50%; } }
  body .about-link {
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    justify-content: center; }
    body .about-link h2 {
      line-height: 1.7rem; }
  body .about .about-link {
    border: #000 solid 2px;
    border-radius: 50%;
    margin: -.4rem .4rem 0 0; }

body.video .navbar-nav:not(.about) a.nav-link[data-mode="video"] {
  border-bottom: #000 solid 2px; }

body.video .posts .video, body.video .post-content .video {
  display: flex; }

body.video .posts .audio, body.video .post-content .audio {
  display: none; }

body.video .posts .text, body.video .post-content .text {
  display: none; }

body.audio .navbar-nav:not(.about) a.nav-link[data-mode="audio"] {
  border-bottom: #000 solid 2px; }

body.audio .posts .video, body.audio .post-content .video {
  display: none; }

body.audio .posts .audio, body.audio .post-content .audio {
  display: flex; }

body.audio .posts .text, body.audio .post-content .text {
  display: none; }

body.text .navbar-nav:not(.about) a.nav-link[data-mode="text"] {
  border-bottom: #000 solid 2px; }

body.text .posts .video, body.text .post-content .video {
  display: none; }

body.text .posts .audio, body.text .post-content .audio {
  display: none; }

body.text .posts .text, body.text .post-content .text {
  display: flex; }

h1 {
  font-size: 3rem;
  margin-bottom: 0; }

h2 {
  font-size: 2rem;
  margin-bottom: 0; }

span, p {
  font-size: 1.6rem; }

p {
  margin-bottom: 0; }

a {
  color: black; }

a:hover {
  color: #002244;
  text-decoration: none; }

a.disable {
  pointer-events: none;
  cursor: default; }

/*  --  Navbar  --  */
.navbar-custom {
  height: 7.5vh;
  margin-bottom: 7.5vh; }
  @media (max-width: 1024px) {
    .navbar-custom {
      align-items: unset; } }
  .navbar-custom .bg-custom {
    background-color: white; }
  .navbar-custom .brand {
    margin-left: 1rem; }
  .navbar-custom .navbar-menu {
    display: flex; }
    @media (max-width: 1024px) {
      .navbar-custom .navbar-menu {
        padding-top: 3rem; } }
  .navbar-custom .navbar-nav {
    flex-direction: row; }
    .navbar-custom .navbar-nav li h2 {
      cursor: pointer; }
      .navbar-custom .navbar-nav li h2 a {
        height: 3rem; }

.row {
  padding: 0rem 1rem; }

footer {
  justify-content: space-between; }

.audio-notes ul, .video-notes ul, .text-notes ul {
  display: flex;
  flex-direction: column-reverse; }

.audio-notes li, .video-notes li, .text-notes li {
  display: none; }
  .audio-notes li time, .video-notes li time, .text-notes li time {
    display: none; }

.audio-notes li.visible, .video-notes li.visible, .text-notes li.visible {
  display: flex; }

img.icon {
  height: 1.2rem;
  width: auto;
  margin-right: .4rem; }

span.bullet {
  height: 1rem;
  width: 1rem;
  margin: .8rem 1rem .8rem 0;
  border-radius: 100%;
  background: #ff0000;
  display: block; }

.post.active span.bullet, .post-content span.bullet {
  background: #00ff00; }

.post .title, .post-content .title {
  flex-direction: row;
  display: flex;
  align-items: center; }

.post .visits, .post-content .visits {
  display: flex;
  align-items: center; }

.post .post-bottom, .post-content .post-bottom {
  padding: 5% 0;
  margin-bottom: 2.5%;
  display: flex; }

.posts .post {
  margin: 2rem 0; }

.posts .posts-text .post {
  margin: 0 0 1rem 1rem; }

.posts .posts-text .post-separator {
  display: block;
  height: 4rem;
  width: 100%; }

span.text-note .note-switch {
  color: blue;
  position: relative;
  bottom: 1px;
  font-size: .8em;
  line-height: .8em;
  vertical-align: super;
  text-decoration: none; }

.notes {
  overflow-y: scroll;
  direction: rtl; }
  .notes .note-list {
    flex-direction: column; }
  .notes li {
    font-size: 1.5rem;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 1rem; }
    .notes li .note-num {
      font-size: 1rem;
      margin-right: .5rem; }
    .notes li .note-content {
      direction: ltr; }
      .notes li .note-content .note-link {
        color: blue;
        text-decoration: underline; }

.video-notes {
  margin: .5rem; }

.video-infos {
  margin-top: 1rem; }

.audio-notes {
  margin: .5rem 0;
  height: 50vh; }

.card {
  border: none; }

.audio-play .material-icons {
  font-size: 4rem;
  margin: .5rem;
  cursor: pointer; }

.audio figcaption {
  display: flex; }

section.text .text-column, section.text .text-notes {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden; }
  section.text .text-column ul, section.text .text-notes ul {
    margin-left: 0;
    padding-left: 0; }

.about-content {
  height: 85vh;
  overflow-y: scroll;
  direction: rtl;
  margin: 0 1rem;
  padding-right: 2rem; }
  .about-content p {
    direction: ltr; }
  .about-content a {
    color: blue;
    text-decoration: underline; }
  .about-content img {
    max-width: 10rem;
    margin: 1rem 2rem 1rem 0; }

.posts {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  margin: 0 1rem; }
  .posts div {
    margin-top: 0;
    padding-top: 0;
    direction: ltr; }
    .posts div .post {
      margin-top: 0; }

body *::-webkit-scrollbar-track {
  background-color: #fff;
  border-left: solid 2px #ff0000; }

section.text .text-column::-webkit-scrollbar-track {
  border-left: none; }

body *::-webkit-scrollbar {
  width: 10px; }

body *::-webkit-scrollbar-thumb {
  background-color: #ff0000; }

footer.footer {
  display: none; }
