html {
  font-size: 16px; }

body {
  overflow-x: hidden;
  font-size: 2rem;
  font-family: 'Arial', Arial, Helvetica, sans-serif !important; }
  body .about-link {
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    justify-content: center; }
    body .about-link h2 {
      line-height: 1.7rem; }
  body .about .about-link {
    border: #000 solid 2px;
    border-radius: 50%;
    margin: -.4rem .4rem 0 0; }
    @media (max-width: 1023px) {
      body .about .about-link {
        margin: 0 .1rem 0 0; } }

body.video .navbar-nav:not(.about) a.nav-link[data-mode="video"] {
  border-bottom: #000 solid 2px; }

body.video .posts .video, body.video .post-content .video {
  display: flex; }

body.video .posts .audio, body.video .post-content .audio {
  display: none; }

body.video .posts .text, body.video .post-content .text {
  display: none; }

body.audio .navbar-nav:not(.about) a.nav-link[data-mode="audio"] {
  border-bottom: #000 solid 2px; }

body.audio .posts .video, body.audio .post-content .video {
  display: none; }

body.audio .posts .audio, body.audio .post-content .audio {
  display: flex; }

body.audio .posts .text, body.audio .post-content .text {
  display: none; }

body.text .navbar-nav:not(.about) a.nav-link[data-mode="text"] {
  border-bottom: #000 solid 2px; }

body.text .posts .video, body.text .post-content .video {
  display: none; }

body.text .posts .audio, body.text .post-content .audio {
  display: none; }

body.text .posts .text, body.text .post-content .text {
  display: flex; }

h1 {
  font-size: 3rem;
  margin-bottom: 0; }

h2 {
  font-size: 2rem;
  margin-bottom: 0; }

.post-bottom span, .card-block span {
  font-size: 1.6rem; }

.text-content span.date {
  font-size: 1.6rem;
  padding-left: 2rem; }

span.date {
  font-size: 1.6rem;
  padding-left: 2rem; }

p {
  margin-bottom: 0; }

a {
  color: black; }

a:hover {
  color: #002244;
  text-decoration: none; }

a.disable {
  pointer-events: none;
  cursor: default; }

blockquote {
  margin-left: 6rem; }

/*  --  Navbar  --  */
.navbar-custom {
  height: 7.5vh;
  margin-bottom: 7.5vh; }
  @media (max-width: 1023px) {
    .navbar-custom {
      align-items: unset;
      height: 7.5rem; } }
  .navbar-custom .bg-custom {
    background-color: white; }
  .navbar-custom .brand {
    margin-left: 1rem; }
  .navbar-custom .navbar-brand {
    padding-left: 0; }
  .navbar-custom .navbar-menu {
    display: flex; }
    @media (max-width: 1023px) {
      .navbar-custom .navbar-menu {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3rem 0;
        padding: 0; } }
  .navbar-custom .navbar-nav {
    flex-direction: row; }
    @media (max-width: 1023px) {
      .navbar-custom .navbar-nav {
        justify-content: space-between;
        padding: 2rem .5rem;
        width: 100%; } }
    .navbar-custom .navbar-nav li h2 {
      cursor: pointer; }
      .navbar-custom .navbar-nav li h2 a {
        height: 3rem; }
    .navbar-custom .navbar-nav .nav-link {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      padding-right: 0rem;
      padding-left: 0rem; }

.row {
  padding: 0rem 1rem; }

figure.row {
  padding-right: 0; }
  figure.row .card-block, figure.row .card-img-top {
    padding-right: 0; }

footer {
  justify-content: space-between; }

.audio-notes ul, .video-notes ul, .text-notes ul {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end; }

.audio-notes li, .video-notes li, .text-notes li {
  display: none; }
  .audio-notes li time, .video-notes li time, .text-notes li time {
    display: none; }

.audio-notes li.visible, .video-notes li.visible, .text-notes li.visible {
  display: flex; }

img.icon {
  height: 1.2rem;
  width: auto;
  margin-right: .4rem; }

span.bullet {
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  margin: .7rem 1rem .5rem 0;
  border-radius: 100%;
  background: #ff0000;
  display: block; }

.post.active span.bullet, .post-content span.bullet {
  background: #00ff00; }

.post .title, .post-content .title {
  flex-direction: row;
  display: flex;
  align-items: center; }

.post .visits, .post-content .visits {
  display: flex;
  align-items: center;
  margin-right: -10px; }

.post .views, .post-content .views {
  padding: 0; }
  @media (max-width: 1023px) {
    .post .views, .post-content .views {
      padding: 0 calc(15px + 1.6rem); } }
  .post .views .visits, .post-content .views .visits {
    justify-content: flex-end; }
    @media (max-width: 1023px) {
      .post .views .visits, .post-content .views .visits {
        justify-content: flex-start; } }

.post .post-bottom, .post-content .post-bottom {
  padding: 5% 0;
  margin-bottom: 2.5%;
  display: flex; }

.posts .post {
  margin: 2rem 0rem 2rem 0; }

.posts .posts-text .post {
  margin: 0 0 1rem 0rem; }

.posts .posts-text .post-separator {
  display: block;
  height: 0;
  width: 100%; }

p.text-holder {
  margin-top: 1rem; }

span.audio-date {
  margin-left: 6.6rem;
  display: block;
  margin-top: -1rem;
  margin-bottom: 1rem; }
  @media (max-width: 768px) {
    span.audio-date {
      margin-top: unset; } }

span.text-note .note-switch {
  color: blue;
  position: relative;
  bottom: 1px;
  font-size: .8em;
  line-height: .8em;
  vertical-align: super;
  text-decoration: none;
  cursor: pointer; }

.notes {
  overflow-y: scroll;
  direction: rtl; }
  .notes .note-list {
    flex-direction: column; }
  .notes li {
    font-size: 1.5rem;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 0 1rem 1rem 1rem; }
    .notes li .note-num {
      font-size: 1rem;
      margin-right: .5rem; }
    .notes li .note-content {
      direction: ltr;
      width: 100%;
      word-break: break-word; }
      .notes li .note-content .note-link {
        color: blue;
        text-decoration: underline; }

.video-notes {
  margin: 1rem;
  height: 24vh;
  padding: 0;
  margin-top: 2rem; }

.video-infos {
  margin-top: 1.5rem; }
  @media (max-width: 1023px) {
    .video-infos .title {
      align-items: unset; } }

.audio-notes {
  margin: 5rem 0rem 0;
  height: 55vh; }

.card {
  border: none; }

.audio-play .material-icons {
  font-size: 4rem;
  margin: .5rem .5rem .5rem 0;
  cursor: pointer; }

.audio figcaption {
  display: flex; }

section.text .text-column, section.text .text-notes {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    section.text .text-column, section.text .text-notes {
      direction: rtl;
      margin-left: calc(1rem + 5px);
      border-left: solid 2px #ff0000; } }
  @media (max-width: 767px) {
    section.text .text-column .text-title, section.text .text-notes .text-title {
      direction: ltr;
      margin: 0;
      padding: 0; } }
  section.text .text-column .text-title .title, section.text .text-notes .text-title .title {
    padding: 0; }
  section.text .text-column ul, section.text .text-notes ul {
    margin-left: 0;
    padding-left: 0; }

.about-content {
  height: 85vh;
  overflow-y: scroll;
  direction: rtl;
  margin: 0 1rem;
  padding-right: 2rem; }
  .about-content p {
    direction: ltr; }
  .about-content a {
    color: blue;
    text-decoration: underline; }
  .about-content img {
    max-width: 10rem;
    margin: 1rem 2rem 1rem 0; }

@media (max-width: 1023px) {
  .card-img-top {
    margin-bottom: 1rem;
    height: 10rem !important; } }

.posts {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  margin: 0 1rem; }
  .posts div {
    margin-top: 0;
    padding-top: 0;
    direction: ltr; }
    .posts div .post {
      margin-top: 0; }

.audio-wave {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.16), rgba(255, 0, 0, 0.24));
  background-size: 0% 100%;
  background-position-x: 0%;
  background-position-y: center;
  background-repeat: no-repeat;
  transition: background-size ease-in-out .3s; }

body *::-webkit-scrollbar-track {
  background-color: #fff;
  border-left: solid 2px #ff0000; }

section.text .text-column::-webkit-scrollbar-track {
  border-left: none; }

body *::-webkit-scrollbar {
  width: 10px; }

body *::-webkit-scrollbar-thumb {
  background-color: #ff0000; }

footer.footer {
  display: none; }

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  * {
    -webkit-overflow-scrolling: touch; }
  section.text .text-column, section.text .text-notes {
    border-left: none; }
  .posts .posts-text .post {
    margin: 0; }
  .post figure.card-body {
    margin: 0 auto; } }
