<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <div class="post-content">
        {% include _sections/video.html title=page.title subtitle=page.subtitle video=page.video notes=page.notes date=page.release slug=page.slug %}
        {% include _sections/audio.html title=page.title subtitle=page.subtitle audio=page.audio notes=page.notes date=page.release slug=page.slug %}
        {% include _sections/text.html title=page.title subtitle=page.subtitle text=page.text notes=page.notes date=page.release slug=page.slug %}
      </div>
      
      
      {% include footer.html %}
  </body>
</html>
