
$colors: (
    primary:#ff0000,
    secondary:#00ff00
);

body{
    overflow-x: hidden;
}

body.video{
    .navbar-nav{
        a.nav-link[data-mode="video"]{
            border-bottom: #000 solid 1px;
        }
    }
    .posts , .post-content{
        .video{
            display: flex;
        }
        .audio{
            display: none;
        }
        .text{
            display: none;
        }
        
    }
}
body.audio{
    .navbar-nav{
        a.nav-link[data-mode="audio"]{
            border-bottom: #000 solid 1px;
        }
    }
    .posts, .post-content{
        .video{
            display: none;
        }
        .audio{
            display: flex;
        }
        .text{
            display: none;
        }
        
    }
}
body.text{
    .navbar-nav{
        a.nav-link[data-mode="text"]{
            border-bottom: #000 solid 1px;
        }
    }
    .posts , .post-content{
        .video{
            display: none;
        }
        .audio{
            display: none;
        }
        .text{
            display: flex;
        }
        
    }
}

h2{
    //font-weight: bold;
}

a{
    color:black;
}
a:hover{
    color:#002244;
    text-decoration: none;
}
/*  --  Navbar  --  */
.navbar-custom{
    margin-bottom: 7.5%;
    .bg-custom{
        background-color: white;
    }
    
    .navbar-nav{
        li{
            h2{
                a.active{
                    /*color:black;*/
                    
                }
            }
        }
    }
}




.row{
    padding: 0.5rem 1rem;
}

footer{
    justify-content: space-between;
}

.audio-notes , .video-notes, .text-notes{
    ul{
        display: flex;
        flex-direction: column-reverse;
    }
    
    li{
        display: none;
        flex-direction: column;
        time{
            display: none;
        }
    }
    
    li.visible{
        display: flex;
        flex-direction: column;
    }

}

span.bullet{
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    //padding: 1rem;
    border-radius: 100%;
    background: map-get($colors, primary);
    display: block;
}
.post.active, .post-content{
    span.bullet{
        background: map-get($colors, secondary);
    }
    .card-img-top{
        background: map-get($colors, secondary);
        height: 100%;
    }
}

.post, .post-content{
    .title{
        flex-direction: row;
        display: flex;
        align-items: center;

    }
    .post-bottom{
        padding: 5% 0;
        margin-bottom: 2.5%;
        display: flex;
    }
    .card-img-top{
        background: map-get($colors, primary);
        height: 100%;
    }
}

span.text-note{
    background-color:rgba(map-get($colors, primary),.16);
}