.audio-notes {
    li{
        display: none;
        time{
            display: none;
        }
    }
    
    li.visible{
        display: inherit;
    }

}

.video-notes {
    li{
        display: none;
        time{
            display: none;
        }
    }
    
    li.visible{
        display: inherit;
    }

}